/terraform/token.tf
/terraform/provider.tf
/terraform/.terraform
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/terraform.tfstate.backup
/sausage-store-chart/templates/secrets.yml