/terraform/token.tf
/terraform/provider.tf
/terraform/.terraform
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/ansible/roles/backend/defaults/main.yml
/ansible/roles/frontend/defaults/main.yml